<ion-view view-title="Current Weather">
  <ion-content>
    <div class="list">
      <div class="item">Current Conditions: {{weather.weather[0].main}}</div>
      <div class="item">Current Temperature: {{weather.main.temp}}</div>
      <div class="item">Humiddity: {{weather.main.humidity}}%</div>
      <div class="item">Today's High: {{weather.main.temp_max}}</div>
      <div class="item">Today's Low: {{weather.main.temp_min}}</div>
      <div class="item">Wind: {{weather.wind.speed}} mph, {{getDirection(weather.wind.deg)}}</div>
    </div>
  </ion-content>
</ion-view>
