<!-- index.html 에서 angular-route를통해서 home.html로 보내준다. 실직적인 view의 랜더링은 ionic가 담당을 한다. -->
<ion-view view-title="Resort Application v0.1" hide-back-button="true">
  <ion-content>
    <div class="list">
      <a href="#/reservation" class="item item-icon-left">
        <i class="icon ion-document-text"></i>See your reservation
      </a>
      <a href="#/weather" class="item item-icon-left">
        <i class="icon ion-ios-partlysunny"></i>Current Weather
      </a>
      <a href="#/resaurants" class="item item-icon-left">
        <i class="icon ion-fork"></i>Nearby restaurants
      </a>
    </div>
  </ion-content>
</ion-view>
